* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(10px);
  transition: background-image 1s ease-in;
}

.player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
  width: 425px;
  overflow: hidden;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0 0 15px #000;
  background-color: rgb(92, 92, 92);
  margin-bottom: 5px;
}

.thumbnail {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
  width: 100%;
  transition: 1s ease-in;
}

.player-box {
  height: 20%;
  width: 100%;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  color: #fff;
}

.timer-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.title {
  display: flex;
  justify-content: end;
  width: 70%;
}

.progress-bar-wrapper {
  margin: 0 auto;;
  color: #fff;
}

#progress-bar {
  margin: 0 auto;
  width: 98%;
  background: #fff;
  border-radius: 10px;
  cursor: pointer;
}

#song-progress-bar {
  width: 0%;
  height: 5px;
  background: #000;
  border-radius: 10px;
}

#volume-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #fff;
}

#volume-progress-bar {
  cursor: pointer;
  /* height: 5px; */
  background: #000;
  /* opacity: 1; */
  border-radius: 10px;
  /* -webkit-transition: 0.2s; */
  /* transition: opacity 0.2s; */
  /* outline: none; */
  /* overflow: hidden; */
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  overflow: hidden;
  height: 5px;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  background: rgba(255, 255, 255, 0.9);
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 5px;
  background: #000;
  box-shadow: -200px  0 0 200px  rgba(0, 0, 0, 0.7);
}

input[type=range]::-moz-range-track {
  height: 5px;
  background: rgba(255, 255, 255, 0.9);
}

input[type=range]::-moz-range-thumb {
  width: 15px;
  height: 5px;
  background: #000;
  box-shadow: -200px  0 0 200px  rgba(0, 0, 0, 0.7);
  padding: 0;
  margin: 0;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
}

.btn-action,
.btn-mute {
  cursor: pointer;
  width: 20px;
}

.btn-action:active,
.btn-mute:active {
  transform: scale(1.1);
}

.fas {
  color: #fff;
  font-size: 20px;
  width: 20px;
}

.fas:hover {
  color: #bebebe;
}

.playlist-wrapper {
  padding-top: 20px;
  width: 425px;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0 0 15px #000;
  background-color: rgb(92, 92, 92);
}

.playlist {
  padding-bottom: 20px;
}

.playlist-track {
  display: flex;
  border-radius: 5px;
  cursor: pointer;
}

.playlist-track > div {
  margin: 10px;
}

.playlist-info-track {
  width: 80%;
}

.playlist-info-track,
.playlist-duration {
  padding-top: 7px;
  padding-bottom: 7px;
  color: #fff;
  font-size: 14px;
  pointer-events: none;
}

.active-track {
  background: #4d4d4d;
  color: #fff;
}

.playlist-track:hover {
  background: #7c7c7c;
}

.playlist-btn-play {
  pointer-events: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer {
  background-color: rgba(200, 200, 200, 0.2);
  position: absolute;
  bottom: 0;
  border-radius: 10px 10px 0 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 95px;
  padding: 20px;
}

.github-logo {
  width: 40px;
}

.rss-logo {
  width: 110px;
}